=display @outgo.amount
|<> on
=@outgo.date
|<> from
=@outgo.asset.name
|<> to
=@outgo.other.try(&:name)
|<>
=@outgo.memo
|<>
=link_to 'Edit', edit_outgo_path(@outgo)
|<>
=link_to 'Delete', delete_outgo_path(@outgo)
