-discharges.sort_by(&:date).reverse_each do |x|
  li
    =display x.amount
    |<> on
    =x.date
    -if x.other
      |<> from
      =x.other.name
    |<>
    =x.memo
    |<>
    =link_to 'Edit', edit_discharge_path(x)
    |<>
    =link_to 'Delete', delete_discharge_path(x)
    |<>
    -if x.reconciled?
      =button_to 'Unreconcile', unreconcile_discharge_path(x)
    -else
      =button_to 'Reconcile', reconcile_discharge_path(x)
