.center=@title

ul class=@other.method
  =render "#{@other.method}/lis", @other.method => @other.targets


hr
=link_to 'Edit Other', edit_other_path(@other)
|<> |
=link_to 'Delete Other', delete_other_path(@other)
