-incomes.sort_by(&:date).reverse_each do |x|
  li
    =display x.amount
    |<>
    =x.date
    |<>
    -if @other
      =x.asset.name
    -elsif x.other
      =x.other.name
    |<>
    =x.memo
    |<>
    =link_to 'Edit', edit_income_path(x)
    |<>
    =link_to 'Delete', delete_income_path(x)
    -unless @other
      -if x.reconciled?
        =button_to 'Unreconcile', unreconcile_income_path(x)
      -else
        =button_to 'Reconcile', reconcile_income_path(x)

