p
  Are you sure you want to delete this #{@income.asset.name} income? This action will reduce the #{display Asset.net} net.

= form_with model: @income do |f|
  =f.button 'Destroy', formmethod: :delete, class: :big_button
  =f.submit 'Keep', class: :big_button
