-charges.sort_by(&:date).reverse_each do |x|
  li
    =display x.amount
    |<> on
    =x.date
    |<> to
    =x.debt.name
    |<> from
    =x.recipient.try(&:name)
    |<>
    =x.memo
    |<>
    =link_to 'Edit', edit_charge_path(x)
    |<>
    =link_to 'Delete', delete_charge_path(x)
    |<>
    -if x.reconciled?
      =button_to 'Unreconcile', unreconcile_charge_path(x)
    -else
      =button_to 'Reconcile', reconcile_charge_path(x)
