=display @charge.amount
|<> on
=@charge.date
|<> to
=@charge.debt.name
-if @charge.other
  |<> from
  =@charge.other.name
|<>
=@charge.memo
|<>
=link_to 'Edit', edit_charge_path(@charge)
|<>
=link_to 'Delete', delete_charge_path(@charge)
